/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #111;
}

.logo {
    color: #00adb5;
    font-size: 24px;
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #00adb5;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #111, #222);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
}

.hero span {
    color: #00adb5;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

.btn {
    padding: 12px 25px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: #028f94;
}

/* SECTIONS */
section {
    padding: 80px 100px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #222;
}

/* ABOUT */
.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
}

/* PROJECTS */
.projects {
    background: #f5f5f5;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card h3 {
    margin-bottom: 10px;
}

/* CONTACT */
.contact p {
    font-size: 18px;
    margin: 10px 0;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 20px;
}