* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    line-height: 1.6;
}

/* Layout */
.container {
    width: 85%;
    max-width: 1100px;
    margin: auto;
}

.section {
    padding: 80px 0;
    text-align: center;
}

.light {
    background: #f4f4f4;
}

/* Header */
header {
    background: white;
    border-bottom: 1px solid #eee;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
}

.nav-btn {
    background: black;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

/* Hero */
.hero {
    height: 90vh;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.primary-btn {
    background: white;
    color: black;
    padding: 12px 28px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* About */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
}

.about-image {
    width: 300px;
    height: 350px;
    background: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d") center/cover no-repeat;
    border-radius: 10px;
}

.about-text {
    max-width: 500px;
    text-align: left;
}

.stats {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

.stats strong {
    display: block;
    font-size: 20px;
}

/* Contact */
#contact p {
    margin: 15px 0;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width:768px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }
}